---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Tutorial</title>
	</head>
	<body>
		<h1>Astro</h1>

        <a href="/">Home</a>
        <a href="/about/">About</a>
		
		<h1>My Astro Site by Buzz Lightyear.</h1>
	</body>
</html>
